* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;

}

body {
  background: linear-gradient(135deg, #0a6619, #e7eefc);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* กล่อง login */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-card {
  background: #ffffff94;
  padding: 300px 60px; 
  border-radius: 20px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 500px; 
  text-align: center;
}

/* โลโก้ */
.login-card .logo {
  width: 400px; 
  margin-bottom: 30px;
}

/* ฟอร์ม */
.form-group {
  text-align: left;
  margin-bottom: 25px; 
}

label {
  font-size: 18px; 
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.form-control {
  padding: 16px; 
  border-radius: 12px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 18px; 
  transition: border-color 0.2s, box-shadow 0.2s;
}

.form-control:focus {
  border-color: #4b8ef7;
  box-shadow: 0 0 10px rgba(75,142,247,0.3);
  outline: none;
}

/* ปุ่ม login */
.btn-login {
  width: 100%;
  padding: 16px; 
  background: linear-gradient(90deg, rgb(1, 201, 98));
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.2s;
}

.btn-login:hover {
  box-shadow: 0 8px 20px rgba(43,110,230,0.25);
}

.btn-login:active {
  transform: translateY(2px);
}